h1{
    text-align: center;
}
#container{
    display: flex;
    flex-wrap: wrap;
}
#container > div{
    background-color: springgreen;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    width: 385px;
}
p{
    position:relative;
    left: 275px;
    bottom: 40px;
    background-color: blue;
    margin: 20px;
    padding: 20px;
    width: 70px;
}